# deps & build output
node_modules/
dist/

# tauri
src-tauri/target/
src-tauri/gen/schemas/

# notes
notes.txt

# editors / os
.vscode/
.idea/
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
